

#bbody{
    background-color: rgb(203, 139, 210);
    display: flex;
    align-items: center;
    justify-content: center;
}



.game{
    width: 800px;
    max-width: 80%;
    background-color: rgb(37, 34, 37);
    padding: 10px;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    
}

#question{
    color: antiquewhite;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    
}

.btn{
    background-color:rgb(116, 25, 169);
    cursor: pointer;
    border: 0;
    outline: 0;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif
}

.btn:hover {
    background-color:rgba(116, 25, 169, 0.694);
    transition: 0.3s;
}

#next-btn{
    background-color: rgb(248, 59, 172);
    font-size: large;
    color: antiquewhite;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#next-btn:hover {
    background-color: rgba(247, 63, 173, 0.646);
    transition: 0.2s;
}

.correct{
    background-color: rgb(82, 192, 82);
}

.incorrect{
    background-color: rgb(193, 67, 67);
}

.correct:hover{
    background-color:rgb(82, 192, 82) ;
}
.incorrect:hover{
    background-color: rgb(193, 67, 67);
}

#next-page{
    color: rgb(255, 242, 59);
    font-size: medium;
    text-align: center;
    margin-top: 20px;
}

/* below is for next page css */

#linkbody{
    background-color:rgb(0, 0, 0);
    color: cornflowerblue;
}
.border{
    border: 0;
    background-color: rgb(152, 76, 118);
    padding:  25px;
    text-align: center;
    color: black;
}
.inner{
    background-color: rgb(197, 158, 198);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #fffafe;
}